.navBar {
  @apply sticky top-0;
  height: 64px;
  padding: 8px;
  background-color: aquamarine;
}

.navBarItem {
  @apply inline-block;
  @apply p-2;
  /* height: 100%; */
  margin: auto 0;
  /* padding: 8px; */
}

.heroBox {
  min-width: 600px;
  @apply bg-white flex flex-col;
}
