NEXT_PUBLIC_FIREBASE_API_KEY=REPLACE_ME
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=REPLACE_ME
NEXT_PUBLIC_FIREBASE_PROJECT_ID=REPLACE_ME
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=REPLACE_ME
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=REPLACE_ME
NEXT_PUBLIC_FIREBASE_APP_ID=REPLACE_ME
NEXT_PUBLIC_VALIDATION_SERVER="http://localhost:5000"