# Request project lead by default
*   @rajmeet2001

# Request all Project Nebula Maintainers to review other pull requests
components/**/*   @UTDNebula/planner
modules/**/*   @UTDNebula/planner
pages/**/*   @UTDNebula/planner
styles/**/*   @UTDNebula/planner
