.schedule-list-page--wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.schedule-list-page--header {
  flex-grow: 0;
}

.schedule-list-page--contents {
  padding: 16px;
  height: 100%;
  flex-grow: 1;
}

.schedule-list-page--fab {
  position: absolute;
  bottom: 0;
  right: 0;
}
