#statusButtons {
  position: relative; /* 1 */
  display: inline-block; /* 2 */
}
#statusButtons::after {
  /* 3 */
  content: '';
  position: absolute;
  width: 50%;
  z-index: -1; /* 4 */
  top: 35%;
  left: 25%;
  border: 3px solid #accf5b;
}
#statusButtons a {
  color: black;
  display: inline-block;
  font-size: 17px;
  font-weight: normal;
  margin-right: 0;
  text-align: center;
  text-transform: uppercase;
  min-width: 150px;
  text-decoration: none;
}
#statusButtons a:hover {
  text-decoration: none;
}
#statusButtons a.active span {
  color: white;
  background: #accf5b;
  box-shadow: rgba(0, 0, 0, 0.792157) 3px 3px 3px 0;
}
#statusButtons span {
  color: white;
  background: #22bacb;
  display: block;
  height: 45px;
  margin: 0 auto 10px;
  padding-top: 20px;
  width: 60px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.792157) 3px 3px 3px 0;
}
