.course-source-sidebar {
  min-width: 368px;
  border-width: 0 2px 0 0;
  border-style: solid;
  border-color: gray;
  padding: 16px;
  background: '#444444';
  max-height: 100%;
}

.course-source-sidebar--header {
  margin-bottom: 24px;
}

.plan-requirement-list {
  overflow-y: scroll;
  max-height: calc(100vh - 256px);
  /* TODO: Fix scroll */ 
}
