/*
 * Used for the plan import button so screen readers can still read the label.
 */
.visuallyHidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
