.App {
  text-align: left;
  margin: 0px;
  padding: 0px;
}

.App-logo {
  text-align: center;
  height: 10vmin;
  pointer-events: none;
  margin: 0px;
  padding: 0px;
}

.App-header {
  text-align: left;
  background-color: #C75B12;
  min-height: 100vh;
  margin: 5px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-button{
  background-color: #FFFFF;
  border: none;
  color: #C75B12;
  height: 50px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.App-fab{
  app:fabCustomSize="112dp"
}

.App-link {
  color: #61dafb;
  margin: 0px;
  padding: 0px;
}
