@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@layer base {
  h1 {
    @apply font-jost font-medium text-[64px];
  }
  h3 {
    @apply font-roboto font-medium text-[20px];
  }
  h4 {
    @apply font-roboto font-bold text-[18px];
  }
  p {
    @apply font-roboto font-normal text-[12px];
  }
  a {
    @apply cursor-pointer;
  }
}

* {
  box-sizing: border-box;
}
