name: Build

on:
  workflow_dispatch:
  pull_request:
    branches:
      - 'develop'
      - 'release/**'
      - 'master'

jobs:
  release:
    name: Test build app
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 18  

      - name: Install dependencies
        run: |
          npm ci
          
      - name: Build project
        run: |
          npm run build
